
body {
    margin: 25px;
    background-color: #31aab5;
    font-family: arial, sans-serif;
    font-size: 14px;
}

/*!* Applies to all <h1>...</h1> elements. *!*/
/*h1 {*/
    /*font-size: 35px;*/
    /*font-weight: normal;*/
    /*margin-top: 5px;*/
/*}*/

/* Applies to all elements with <... class="someclass"> specified. */
.test_class { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#test_id { color: blue; }

#get_summary , #get_story {
    display:inline-block;
}